
:root {
    --DRRE_red: #bb2024;
    --DRRE_yellow: #ffde15;
    --DRRE_light_gray: #bdbec0;
    --DRRE_mid_gray: #818286;
    --DRRE_dark_gray: #3a3a3c;
    --sky_blue: #90e5ff;
    --turquoise_blue: #00bff9;
}

html {
    height: 100%;
    width: 100%;
}

hr {
    color: var(--DRRE_red)
}

.header_menu {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

@media (max-width: 600px) {
    .menu_btn {
        background-color: white;
        border: none;
        box-shadow: none;
    }

    .menu_img {
        width: 5vw;
    }

    .drop_down {
        display: none;
    }

    .tab_bar {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .tab_btn {
        width: 100%;
        height: 100%;
        position: relative;
        font-size: 16px;
        background-color: white;
        border: none;
        box-shadow: none;
    }

    .line_break_photo {
        margin-top: 3vh;
        margin-bottom: 3vh;
        margin-left: calc(50vw - 50px);
        width: 100px;
    }

    .header {
        width: 100%;
        margin-top: 1vh;
        
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .photo_div {
        position: relative;
        overflow: hidden;
        height: 20vh;

    }
    
    .header_image_mobile {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
    
        height: 20vh;
    }

    .header_image_full {
        display: none;
    }

    .header_text {
        font-family: 'Montserrat';
        margin: 0;
        padding-top: 0vh;
        text-align: center;
        margin: auto;
    }

    .company_text {
        color: var(--DRRE_red);
        font-size: 7vw;
    }

    .page_text {
        color: var(--DRRE_mid_gray);
        font-size: 6vw;
    }

    .footer {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer_logo {
        bottom: 0;
        width: 100%;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        max-width: 150px;
    }

    .legal_image {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 150px;
    }

    .contact_div {
        display: flex;
        margin-left: auto;
    }

    .contact_info {
        font-size: 15px;
        text-decoration: none;
        width: max-content;
        background-color: white;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: auto;
    }

    .contact_icon {
        margin: auto;
        float: right;
    }
}

@media (min-width: 600px) {
    .menu_btn {
        display: none;
    }

    .menu_img {
        display: none;
    }

    .drop_down {
        display: block;
    }

    .tab_bar {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .tab_btn {
        width: 100%;
        height: 100%;
        position: relative;
        font-size: 2vw;
        background-color: white;
        border: none;
        box-shadow: none;
        border-radius: 15px;
    }

    .line_break_photo {
        margin-top: 3vh;
        margin-left: 43vw;
        width: 15vw;
    }

    .header {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 8fr;
    }
    
    .header_image_mobile {
        display: none;
    }

    .header_image_full {
        width: 15vw;
        margin-top: 3.5vh;
        margin-left: 3.5vh;
    }

    .header_text {
        font-family: 'Montserrat';
        margin: 0;
        padding-top: 0vh;
        text-align: right;
    }

    .company_text {
        color: var(--DRRE_red);
        font-size: 7vw;
    }

    .page_text {
        color: var(--DRRE_mid_gray);
        font-size: 5vw;
    }

    .footer {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        column-gap: 10px;
    }

    .legal_image {
        bottom: 0;
        width: 100%;
        float: right;
        max-width: 200px;
        min-width: 50px;
    }

    .footer_logo {
        bottom: 0;
        width: 100%;
        float: left;
        max-width: 200px;
        min-width: 50px;
    }

    .contact_div {
        display: grid;
        grid-template-columns: 1fr 10fr;
    }

    .contact_info {
        font-size: 25px;
        text-decoration: none;
    }
}

.contact_info {
    font-family: 'Montserrat';
    color: var(--DRRE_red);
}

.current_pg_btn {
    color: var(--DRRE_yellow);
}

.current_pg_btn:hover {
    background-color: var(--DRRE_red);
}

.other_pg_btn {
    color: var(--DRRE_red);
}

.other_pg_btn:hover {
    background-color: var(--DRRE_yellow);
}

.title_grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 3vh;
    row-gap: 0;
    padding-right: 2vw;
}

.footer-text {
    font-family: 'Montserrat';
    color: var(--DRRE_red);
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    margin: auto;
}

.contact_icon {
    height: 25px;
    display: block;
    margin: auto;
    margin-right: 5px;
}