html {
  height: 100%;
  width: 100%;
}

button {
  margin-left: 0;
  width: 16ch;
  height: 4ch;
  float: center;
}

text {
  white-space: pre-line;
}

.container {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.container button {
  width: 80%;
}

.item {
  margin: auto;
  margin-top: 3%;
  width: 95%;
  border-radius: 10px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* Modal Content */
.modal-content {
  height: 80vh;
  overflow-y: scroll;
  background-color: #fafafa;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  overflow: auto;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#checkboxes label {
  float: left;
}

#checkboxes ul {
  margin: 0;
  list-style: none;
  float: left;
}