html {
    height: 100%;
    width: 100%;
}

.main_col {
    height: auto;
    width: 100%;
    float: left;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr;
}

@media (max-width: 600px) {
    .content_grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .content_header {
        font-family: 'Montserrat';
        color: var(--DRRE_red);
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 18px;
        height: auto;
    }
}

@media (min-width: 600px) {
    .content_grid {
        display: grid;
        grid-template-columns: 3fr 2fr;
    }

    .content_header {
        font-family: 'Montserrat';
        color: var(--DRRE_red);
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 100;
        font-size: calc(18px + .5vw);
        height: auto;
    }
}

.content_div {
    margin: auto;
}

.content_paragraph {
    width: 100%;
    font-family: 'Montserrat';
    float: left;
    margin: auto;
}


@media (max-width: 600px) {
    .side_col {
        max-width: 100%;
        position: relative;
        margin: auto;
        margin-top: 5vh;
    }

    .number_img_txt,
    .caption_img_txt {
        display: block;
    }

    .scroll_image {
        display: none;
    }

    .full_image {
        display: none;
        width: 100%;
    }

    .full_image_show {
        display: block !important;
    }

    .full_image_hide {
        display: none;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        display: block;

        top: 50%;
        width: auto;
        padding-top: 0;
        padding-bottom: 5px;
        
        color: white;
        background-color: rgba(0, 0, 0, 0.8);

        font-weight: bold;
        font-size: 25px;

        transition: 0.6s ease;
        border-radius: 0 20px 20px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 20px 0 0 20px;
    }
}

@media (min-width: 600px) {
    .side_col {
        height: 0;
        min-height: 100%;
        width: 100%;
        overflow: scroll;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 5vh;
        row-gap: 0%;
        background: white;
        overflow-x: hidden;
        overflow-y: visible;
        scrollbar-color: var(--DRRE_red) white;
        scrollbar-width: thin;
    }

    .scroll_container {
        margin: auto;
        align-content: center;
    }

    .scroll_image {
        display: block;
        width: 90%;
        margin-left: 5%;
    }

    .full_image {
        position: fixed;
        top: 10vh;
        right: calc(50% - (60vw / 2));
        margin: auto;
        width: 60vw;
        display: none;
    }

    .next, .prev {
        display: none;
    }
}

@media (min-width: 1000px) {
    .full_image {
        top: 5vh;
    }
}