html {
    height: 100%;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

body {
    height: max-content;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
}

.intro_section {
    width: 98vw;
}

.section_header {
    font-family: "Montserrat";
    font-size: calc(18px + 1vw);

    color: var(--DRRE_red);

    width: max-content;
}

.left_header {
    text-align: left;
    margin-left: 7vw;
}

.center_header {
    text-align: center;
    margin: auto;
}

.intro {
    font-family: 'Montserrat';
    font-size: 20px;

    margin-left: 5vw;
    max-width: 90vw;
}

@media (max-width: 600px) {
    .intro_img {
        display: none;
    }

    .main_map {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0;
    }

    .large_map {
        width: 90vw;
        margin: auto;
    }

    .map_scroll_div {
        display: none;
    }

    .display_info {
        display: none;
    }

    .email_div {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5vh;

        margin-top: 5vh;
        margin-left: 5vw;
        margin-right: 5vw;

        max-width: 100%;
    }

    .review_div {
        display: grid;
        grid-template-columns: 1fr;
    
        margin-top: 5vh;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .btn_div {
        width: max-content;
        display: grid;

        margin-left: auto;
        margin-right: auto;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

    .btn_img {
        width: 30vw;
    
        margin-left: 5vw;
        margin-right: 5vw;
    }
    
    .review_btn {
        background-color: white;
        box-shadow: none;
    
        border: solid;
        border-radius: 10px;
        border-color: var(--DRRE_red);
    
        width: max-content;
        height: max-content;
    }

    .mobile_size {
        display: block;
    }

    .full_size {
        display: none;
    }
}

@media (min-width: 600px) {
    .intro_img {
        float: right;
        width: 50vw;
    
        margin-top: 5vh;
        margin-right: 3vw;
        margin-left: 3vw;
        margin-bottom: 3vw;
    }

    .main_map {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 0;
    }

    .large_map {
        height: 40vw;
        margin-left: 2vw;
        margin-top: 2vw;
    }
    
    .map_scroll_div {
        width: 100%;
    
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-color: var(--DRRE_red) var(--DRRE_yellow);
        scrollbar-width: thin;
    }
    
    .map_scroll {
        margin-top: 3vh;
        margin-left: auto;
        margin-right: auto;
    
        width: max-content;
        max-width: max-content;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }

    .display_info {
        font-family: 'Montserrat';
        font-size: 18px;
    
        height: 40vw;
        min-height: 95%;
        width: 30vw;
    
        margin-top: 2vw;
        float: left;
    
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-color: var(--DRRE_red) var(--DRRE_yellow);
        scrollbar-width: thin;
    }

    .email_div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 5vh;
        margin-left: 5vw;
        margin-right: 5vw;
        row-gap: 5vh;
    }

    .review_div {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 5vh;
    
        margin-top: 5vh;
        margin-right: auto;
        margin-left: auto;
    }

    .btn_div {
        width: 20vw;
        display: grid;
    }
    
    .btn_img {
        width: 10vw;
    
        margin-left: 5vw;
        margin-right: 5vw;
    }
    
    .review_btn {
        background-color: white;
        box-shadow: none;
    
        border: solid;
        border-radius: 10px;
        border-color: var(--DRRE_red);
    
        width: max-content;
        height: max-content;
    }

    .mobile_size {
        display: none;
    }
    
    .full_size {
        display: block;
    }
}

.map_bg {
    background-color: var(--DRRE_yellow);
    max-width: 100vw;
    float: right;
}

.display_info p {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3vw;
}

.key_img {
    width: 95%;
    float: left;
}

.sources {
    margin-top: 2vh;
    text-align: center;
}

.hide_me {
    display: none;
}

.map_source {
    font-family: 'Montserrat';
    font-size: calc(18px + 1vw);
}

.hide_me {
    display: none;
}

.scroll_img {
    max-height: 15vh;
    padding: .5vw;
    margin-bottom: 2vh;
}

.select_img {
    border: solid;
    border-color: var(--DRRE_red);
}

.email_form {
    display: grid;
    grid-template-columns: 1fr 1fr;

    row-gap: 5vh;
}

.input_label {
    font-family: "Montserrat";
    font-size: calc(15px + 1vw);

    text-align: right;
    margin-right: 5vw;

    width: 20vw;
}

.input_text {
    width: 30vw;
    height: calc(15px + 1vw);
    font-size: 18px;
}

.input_area {
    font-family: "arial";
    width: 30vw;
    height: calc(30px + 3vw);
    font-size: 18px;
}

.submit_email {
    font-family: "Montserrat";
    font-size: calc(15px + 1vw);
    
    color: var(--DRRE_red);
    background-color: var(--DRRE_yellow);

    width: 20vw;
    margin: auto;

    border-radius: 10px;
}