html {
    height: 100%;
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid var(--DRRE_dark_gray);
    text-align: left;
    padding: 8px;
    font-family: 'Montserrat';
}

tr:nth-child(even) {
    background-color: var(--sky_blue);
}

th {
    color : var(--DRRE_red);
}

.login_link {
    color: var(--DRRE_red);
    font-family: 'Montserrat';
    text-decoration: none;
}

.content {
    margin-top: 1vh;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3vh;
}

@media (max-width: 600px) {
    h1 {
        font-size: 18px;
        text-align: center;
    }

    .content_image {
        width: 70vw;
        margin-left: 13vw;
    }
    
    .content_paragraph {
        text-align: justify;
        margin: auto;
    }

    .search_bar_div {
        margin-right: 10vw;
        margin-left: 10vw;
        width: 70vw;
        display: inline-block;
    }

    .search_bar {
        width: calc(70vw - 90px);
        font-size: calc(18px + .5vw);
        font-family: "Montserrat";
        height: 40px;
    }
}

@media (min-width: 600px) {
    .content_image {
        width: 25vw;
        float: left;
        margin: 5vw;
    }
    
    .content_paragraph {
        margin-top: 5vw;
        text-align: justify;
        margin-right: auto;
        margin-left: auto;
    }

    .search_bar_div {
        max-width: max-content;
        margin-top: 20px;
        display: inline-block;
    }

    .search_div {
        max-width: 50%;
        display: flex;
        flex-wrap: wrap;

        margin-right: auto;
        margin-left: auto;
    }

    .search_bar {
        height: 40px;
        width: 30vw;

        font-size: calc(18px + .5vw);
        font-family: "Montserrat";
    }
}

.content_paragraph {
    font-family: 'Montserrat';
    color : var(--DRRE_red);
    margin-right: 5vw;
    margin-left: 5vw;
}

.search_bar {
    border: solid;
    border-width: 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.submit_search {
    font-size: calc(18px + .5vw);
    font-family: "Montserrat";

    border: solid;
    border-width: 1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    margin-left: 0px;
    height: 45px;
    width: 10vw;
    min-width: 80px;
}

.long_th {
    min-width: 60%;
}

.short_th {
    min-width: 20%;
}