html {
  height: 100%;
  width: 100%;
}

button {
  margin-left: 0;
  width: 16ch;
  height: 4ch;
  float: center;
}

text {
  white-space: pre-line;
}

td {
  text-align: left;
}

label {
  margin-top: 6px;
  width: 100%;
}

.container {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.container button {
  width: 80%;
}

.controlBtns {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: auto;

  box-shadow: none;
}

.control_btn {
  margin: auto;
  border-radius: 10px;
}

.new_btn {
  background-color: greenyellow;
}

.logout_btn {
  background-color:red;
}

@media (min-width: 500px) {
  .dataTables_length {
    margin-top: 10px;
    float: left;
  }
  
  .dataTables_filter {
    margin-top: 10px;
    float: right;
    margin-right: 4ch;
  }
}
