h2 {
    font-family: 'Montserrat';
    color: var(--DRRE_red);
}

a {
    margin: 0;
}

@media (max-width: 600px) {
    .side_by_side {
        display: grid;
        grid-template-columns: 1px;
        width: 100%;
    }

    .search_bar_div {
        margin-right: 10vw;
        margin-left: 10vw;
        width: 70vw;
    }

    .search_bar {
        width: calc(70vw - 78px);
    }

    .active_tags_div {
        display: none;
        width: 98vw;
        margin-bottom: 10px;

        justify-content: center;
        align-items: center;
    }

    .active_tags_label {
        margin-left: 10vw;
        width: 80vw;
    }

    .pages_select {
        width: 100%;
    }
}

@media (min-width: 600px) {
    .side_by_side {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .search_bar_div {
        max-width: 45vw;
        float: right;
        margin-right: 0;
        margin-top: 20px;
    }

    .search_div {
        max-width: 50%;
        float: right;
        display: flex;
        flex-wrap: wrap;
    }

    .search_bar {
        width: 30vw;
    }

    .active_div {
        max-width: 50%;
    }

    .active_tags_div {
        visibility: hidden;
        width: 50%;

        justify-content: center;
        align-items: center;
    }

    .pages_select {
        width: calc(30vw + 70px);
        margin-top: 10px;
    }
}

.active_tags_label {
    display: none;
}

.search_bar {
    height: 30px;
    border: solid;
    border-width: 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.submit_search {
    width: 70px;
    height: 33.5px;
    border: solid;
    border-width: 1px;
    margin-left: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.pages_select {
    height: 30px;
    background-color: white;
    font-family: 'Montserrat';

    border: solid;
    border-width: 1px;
    border-radius: 15px;
}

.active_tag_button {
    position: relative;
    font-size: 18px;
    color: var(--DRRE_red);
    background-color: var(--DRRE_yellow);
    border: none;
    box-shadow: none;
    border-radius: 15px;

    height: 25px;
    width: 180px
}

.content_header {
    font-family: 'Montserrat';
    color: var(--DRRE_red);
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    height: auto;
}

.entry_div {
    min-height: max-content;
    font-family: 'Montserrat';
    width: 95%;
    margin-left: 3%;
}

.entry_div img {
    width: auto;
    height: auto;
    max-width: 60%;
    margin: 2vh;
}

.entry_div h3 {
    margin-top: 0;
    margin-bottom: 0
}

.blog_post_text {
    margin-left: 3vw;
    margin-right: 3vw;
}


.tags_div {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    min-width: 100%;
}

.tag_button {
    font-size: 18px;
    color: var(--DRRE_yellow);
    background-color: var(--DRRE_red);
    
    min-width: max-content;
    height: 25px;

    border: none;
    box-shadow: none;
    border-radius: 15px;
}

.pagination {
    margin: auto;
    display: none;
    color: var(--DRRE_red)
}

.center_pagination {
    width: max-content;
    margin: auto;
}

.invalid_arrow {
    color: var(--DRRE_dark_gray)
}

.valid_arrow {
    color: var(--DRRE_red)
}

.bdt-active {
    height: max-content;
}