h2 {
    font-family: 'Montserrat';
    color: var(--DRRE_red);
}

a {
    margin: 0;
}

.side_by_side {
    display: flex;
    width: 100%;
}

.search_div {
    width: 45%;
    float: right;
}

.search_bar_div {
    width: max-content;
    float: right;
    margin-right: 0;
    margin-top: 40px;
}

.search_bar {
    width: 30vw;
    height: 30px;
    border: solid;
    border-width: 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.submit_search {
    width: 70px;
    height: 33.5px;
    border: solid;
    border-width: 1px;
    margin-left: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.tag_button {
    position: relative;
    font-size: 18px;
    color: var(--DRRE_yellow);
    background-color: var(--DRRE_red);
    border: none;
    box-shadow: none;
    border-radius: 15px;
    width: calc(150px)
}

.active_tags_div {
    visibility: hidden;
    width: 50%;
}

.active_tag_button {
    position: relative;
    font-size: 18px;
    color: var(--DRRE_red);
    background-color: var(--DRRE_yellow);
    border: none;
    box-shadow: none;
    border-radius: 15px;
    width: calc(180px)
}

.content_header {
    font-family: 'Montserrat';
    color: var(--DRRE_red);
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    height: auto;
}

.entry_div {
    height: max-content;
    font-family: 'Montserrat';
    width: 95%;
    margin-left: 3%;
}

.entry_div img {
    width: auto;
    height: auto;
    max-width: 60%;
    margin: 2vh;
}

.entry_div h3 {
    margin-top: 0;
    margin-bottom: 0
}

.blog_post_text {
    margin-left: 3vw;
    margin-right: 3vw;
}



