h2 {
    font-family: 'Montserrat';
    color: var(--DRRE_red);
}

.content_header {
    font-family: 'Montserrat';
    color: var(--DRRE_red);
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    height: auto;
}

.bdt-active {
    font-family: 'Montserrat';
}